<div class='horizontal-bars'>
    <div class='bar col-md-2 col-xs-6' ng-click="openCategory(1)">
        <div class='inner-bar'>
            <img class='category-img' src="assets/img/logo/categories/splash.png" />
            <div>
                <h2>SPLASH</h2>
                <h3>fun 'n' frolic</h3>
            </div>
        </div>
        <div class='event-content'>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#quanta1" aria-controls="quanta1" role="tab" data-toggle="tab">CONSTRUCTO</a></li>
                <li role="presentation"><a href="#quanta2" aria-controls="quanta2" role="tab" data-toggle="tab">CARRIAGE RETURN</a></li>
                <li role="presentation"><a href="#quanta3" aria-controls="quanta3" role="tab" data-toggle="tab">ROBO FIESTA</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="quanta1">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-6 event-icon">
                            <img ng-click="go('/events/43')" src="assets/img/logo/events/logo.png" alt="" />
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 event-icon">
                            <img src="assets/img/logo/events/logo.png" alt="" />
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 event-icon">
                            <img src="assets/img/logo/events/logo.png" alt="" />
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 event-icon">
                            <img src="assets/img/logo/events/logo.png" alt="" />
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 event-icon">
                            <img src="assets/img/logo/events/logo.png" alt="" />
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 event-icon">
                            <img src="assets/img/logo/events/logo.png" alt="" />
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 event-icon">
                            <img src="assets/img/logo/events/logo.png" alt="" />
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 event-icon">
                            <img src="assets/img/logo/events/logo.png" alt="" />
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 event-icon">
                            <img src="assets/img/logo/events/logo.png" alt="" />
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 event-icon">
                            <img src="assets/img/logo/events/logo.png" alt="" />
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 event-icon">
                            <img src="assets/img/logo/events/logo.png" alt="" />
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 event-icon">
                            <img src="assets/img/logo/events/logo.png" alt="" />
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="quanta2">quanta 2 </div>
                <div role="tabpanel" class="tab-pane fade" id="quanta3">quanta 3</div>
            </div>
        </div>
    </div>
    <div class='bar col-md-2 col-xs-6'  ng-click="openCategory(2)">
        <div class='inner-bar'>
            <img class='category-img' src="assets/img/logo/categories/endeavour.png" />
            <div>
                <h2>ENDEAVOUR</h2>
                <h3>Cultural Events</h3>
            </div>
        </div>
    </div>
    <div class='bar col-md-2 col-xs-6' ng-click="openCategory(3)">
        <div class='inner-bar'>
            <img class='category-img' src="assets/img/logo/categories/quanta.png" />
            <div>
                <h2>QUANTA</h2>
                <h3>Technical Events</h3>
            </div>
        </div>
    </div>
    <div class='bar col-md-2 col-xs-6' ng-click="openCategory(4)">
        <div class='inner-bar'>
            <img class='category-img' src="assets/img/logo/categories/tas.png" />
            <div>
                <h2>EVENT</h2>
                <h3>New Events</h3>
            </div>
        </div>
    </div>
    <div class='bar col-md-2 col-xs-6' ng-click="openCategory(5)">
        <div class='inner-bar'>
            <img class='category-img' src="assets/img/logo/categories/zarurat.png" />
            <div>
                <h2>ZARURAT</h2>
                <h3>Celebrating Innocence</h3>
            </div>
        </div>
    </div>
    <div class='bar col-md-2 col-xs-6' ng-click="openCategory(6)">
        <div class='inner-bar'>
            <img class='category-img' src="assets/img/logo/categories/alumni.png" />
            <div>
                <h2>ALUMNI</h2>
                <h3>Alumni Meet</h3>
            </div>
        </div>
    </div>
</div>