*, *::after *::before {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Architects Daughter", cursive; }

html, body {
  height: 100%; }

a {
  color: white;
  text-decoration: none; }

button {
  border: none;
  outline: none;
  cursor: pointer; }

.bl-container > li {
  display: inline; }

.bl-nav-trigger {
  position: absolute;
  z-index: 3;
  top: 24px;
  right: 5%;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent; }
  .bl-nav-trigger .bl-icon,
  .bl-nav-trigger .bl-icon::before,
  .bl-nav-trigger .bl-icon::after {
    position: absolute;
    background-color: white;
    border-radius: 2px;
    /* forcing h/w acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .no-touch .bl-nav-trigger:hover {
    background-color: rgba(0, 0, 0, 0.8); }
  .bl-nav-trigger .bl-icon {
    display: inline-block;
    width: 18px;
    height: 2px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
    -moz-transition: -moz-transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s; }
    .bl-nav-trigger .bl-icon::before, .bl-nav-trigger .bl-icon::after {
      content: '';
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s; }
    .bl-nav-trigger .bl-icon::before {
      -webkit-transform: translateY(-6px);
      -moz-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      -o-transform: translateY(-6px);
      transform: translateY(-6px); }
    .bl-nav-trigger .bl-icon::after {
      -webkit-transform: translateY(6px);
      -moz-transform: translateY(6px);
      -ms-transform: translateY(6px);
      -o-transform: translateY(6px);
      transform: translateY(6px); }
  .bl-nav-trigger.project-open .bl-icon {
    background-color: rgba(255, 255, 255, 0); }
    .bl-nav-trigger.project-open .bl-icon::before, .bl-nav-trigger.project-open .bl-icon::after {
      background-color: white; }
    .bl-nav-trigger.project-open .bl-icon::before {
      -webkit-transform: translateY(0) rotate(45deg);
      -moz-transform: translateY(0) rotate(45deg);
      -ms-transform: translateY(0) rotate(45deg);
      -o-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg); }
    .bl-nav-trigger.project-open .bl-icon::after {
      -webkit-transform: translateY(0) rotate(-45deg);
      -moz-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
      -o-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg); }
  .bl-nav-trigger.nav-open .bl-icon {
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -o-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    transform: translateY(-50%) translateX(-50%) rotate(90deg); }
    .bl-nav-trigger.nav-open .bl-icon::after {
      -webkit-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
      -moz-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
      -ms-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
      -o-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
      transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5); }
    .bl-nav-trigger.nav-open .bl-icon::before {
      -webkit-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
      -moz-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
      -ms-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
      -o-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
      transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5); }

.bl-nav {
  display: table;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: auto;
  opacity: 0;
  -webkit-transition: opacity 0s 0.4s;
  -moz-transition: opacity 0s 0.4s;
  transition: opacity 0s 0.4s; }
  .bl-nav ul {
    display: table-cell;
    vertical-align: middle;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s; }
  .bl-nav a {
    display: inline-block;
    padding: .4em 1em;
    border-radius: 4px;
    font-family: "Architects Daughter", cursive;
    font-size: 2.4rem;
    font-weight: 700;
    color: black; }
    .no-touch .bl-nav a:hover {
      background-color: #262626;
      color: white; }
  .bl-nav .bl-label {
    position: relative;
    margin: 2.4em 0 2em;
    color: #333333;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.2rem;
    letter-spacing: 1px; }
    .bl-nav .bl-label::after {
      content: '';
      position: absolute;
      left: 50%;
      right: auto;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: -16px;
      height: 1px;
      width: 40px;
      background-color: currentColor; }
  .bl-nav.nav-open {
    opacity: 1;
    -webkit-transition: opacity 0s;
    -moz-transition: opacity 0s;
    transition: opacity 0s; }
    .bl-nav.nav-open ul {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }

.bl-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  .bl-container .bl-project {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }
    .bl-container .bl-project:nth-of-type(2) {
      -webkit-transform: translateX(20%);
      -moz-transform: translateX(20%);
      -ms-transform: translateX(20%);
      -o-transform: translateX(20%);
      transform: translateX(20%); }
    .bl-container .bl-project:nth-of-type(3) {
      -webkit-transform: translateX(40%);
      -moz-transform: translateX(40%);
      -ms-transform: translateX(40%);
      -o-transform: translateX(40%);
      transform: translateX(40%); }
    .bl-container .bl-project:nth-of-type(4) {
      -webkit-transform: translateX(60%);
      -moz-transform: translateX(60%);
      -ms-transform: translateX(60%);
      -o-transform: translateX(60%);
      transform: translateX(60%); }
    .bl-container .bl-project:nth-of-type(5) {
      -webkit-transform: translateX(80%);
      -moz-transform: translateX(80%);
      -ms-transform: translateX(80%);
      -o-transform: translateX(80%);
      transform: translateX(80%); }
    .bl-container .bl-project.selected {
      cursor: auto;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
    .bl-container .bl-project.selected ~ li {
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%); }
  .bl-container.nav-open .bl-project {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }
    .bl-container.nav-open .bl-project:nth-of-type(2) {
      -webkit-transform: translateX(20%) translateY(100%);
      -moz-transform: translateX(20%) translateY(100%);
      -ms-transform: translateX(20%) translateY(100%);
      -o-transform: translateX(20%) translateY(100%);
      transform: translateX(20%) translateY(100%); }
    .bl-container.nav-open .bl-project:nth-of-type(3) {
      -webkit-transform: translateX(40%) translateY(100%);
      -moz-transform: translateX(40%) translateY(100%);
      -ms-transform: translateX(40%) translateY(100%);
      -o-transform: translateX(40%) translateY(100%);
      transform: translateX(40%) translateY(100%); }
    .bl-container.nav-open .bl-project:nth-of-type(4) {
      -webkit-transform: translateX(60%) translateY(100%);
      -moz-transform: translateX(60%) translateY(100%);
      -ms-transform: translateX(60%) translateY(100%);
      -o-transform: translateX(60%) translateY(100%);
      transform: translateX(60%) translateY(100%); }
    .bl-container.nav-open .bl-project:nth-of-type(5) {
      -webkit-transform: translateX(80%) translateY(100%);
      -moz-transform: translateX(80%) translateY(100%);
      -ms-transform: translateX(80%) translateY(100%);
      -o-transform: translateX(80%) translateY(100%);
      transform: translateX(80%) translateY(100%); }
  .bl-container.nav-open:hover .bl-project {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }

.bl-title {
  position: relative;
  display: table;
  z-index: -1;
  height: 100%;
  width: 100vw; }
  .bl-title::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    content: ''; }
  .bl-project:nth-of-type(1) .bl-title::before {
    background-color: #564138; }
  .bl-project:nth-of-type(2) .bl-title::before {
    background-color: #3D5A6C; }
  .bl-project:nth-of-type(3) .bl-title::before {
    background-color: #72A98F; }
  .bl-project:nth-of-type(4) .bl-title::before {
    background-color: #D4C5E2 }
  .bl-project:nth-of-type(5) .bl-title::before {
    background-color: #C9D7F8; }
  .bl-project:nth-of-type(1) .bl-title::before, .bl-project:nth-of-type(2) .bl-title::before, .bl-project:nth-of-type(3) .bl-title::before
  .bl-project:nth-of-type(4) .bl-title::before, .bl-project:nth-of-type(5) .bl-title::before {
    background-size: cover; }
  .bl-title h2 {
    position: relative;
    z-index: 1;
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    font-family: "Architects Daughter", cursive;
    display: table-cell;
    vertical-align: middle;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    /* Force hardware acceleration */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(1%) translateZ(0);
    -moz-transform: translateX(1%) translateZ(0);
    -ms-transform: translateX(1%) translateZ(0);
    -o-transform: translateX(1%) translateZ(0);
    transform: translateX(1%) translateZ(0); }

/*# sourceMappingURL=style.css.map */
