<main class='horizontal-bars'>
    <div class='bar bar-full'>
        <div class='inner-bar'>
            <div>
                <h2>OUR SPONSORS</h2>
                <h3>Our sponsors</h3>
            </div>
        </div>
        <div class='event-content' id="sponsors">
            <article>
                <h2>Pronite Partner</h2>
                <div class="sponsor col-md-offset-4 col-md-4">
                    <img src="assets/img/logo/sponsors/pronite/nba.png" />
                </div>
            </article>
            <article>
                <h2>Brand Partners</h2>
                <div class="sponsor col-md-4">
                    <img src="assets/img/logo/sponsors/brand/hi%20tech%20offset.png" />
                </div>
                <div class="sponsor col-md-4">
                    <img src="assets/img/logo/sponsors/brand/maharaja.jpg" />
                </div>
                <div class="sponsor col-md-4">
                    <img src="assets/img/logo/sponsors/brand/PrintLogoLockup.png" />
                </div>
                <div class="clearfix"></div>
                <div class="sponsor col-md-offset-1 col-md-4">
                    <img src="assets/img/logo/sponsors/brand/tvs.png" />
                </div>
                <div class="sponsor col-md-offset-2 col-md-4">
                    <img src="assets/img/logo/sponsors/brand/ribbun.png" />
                </div>
            </article>
            <article>
                <h2>Education</h2>
                <div class="sponsor col-md-4">
                    <img src="assets/img/logo/sponsors/education/endeavour.png" />
                </div>
                <div class="sponsor col-md-4">
                    <img src="assets/img/logo/sponsors/education/engineers%20academy.png" />
                </div>
                <div class="sponsor col-md-4">
                    <img src="assets/img/logo/sponsors/education/jamboree-logo.jpg" />
                </div>
                <div class="clearfix"></div>
                <div class="sponsor col-md-offset-1 col-md-4">
                    <img src="assets/img/logo/sponsors/education/MADE%20EASY%20Logo%20for%20Mailing.png" />
                </div>
                <div class="sponsor col-md-offset-2 col-md-4">
                    <img src="assets/img/logo/sponsors/education/rat.png" />
                </div>
            </article>
            <article>
                <h2>Food Partners</h2>
                <div class="sponsor col-md-3">
                    <img src="assets/img/logo/sponsors/food/by%20the%20way%20logo%20PNG.png" />
                </div>
                <div class="sponsor col-md-3">
                    <img src="assets/img/logo/sponsors/food/kitchen%20flaours.png" />
                </div>
                <div class="sponsor col-md-3">
                    <img src="assets/img/logo/sponsors/food/reefs.png" />
                </div>
                <div class="sponsor col-md-3">
                    <img src="assets/img/logo/sponsors/food/top-n-town.png" />
                </div>
            </article>

            <article>
                <h2>Beverage Partners</h2>
                <div class="sponsor col-md-offset-3 col-md-2">
                    <img src="assets/img/logo/sponsors/beverage/ccd.png" />
                </div>
                <div class="sponsor col-md-offset-3 col-md-3">
                    <img src="assets/img/logo/sponsors/beverage/preview-red_bull.png" />
                </div>
            </article>
        </div>
    </div>
</main>
<div class="navigation">
    <div class="menu-icon" class="animate-1" ui-sref="explore"><div class="menu-bars"></div></div>
    <div class="clearfix"></div>
</div>

<style>
    #sponsors h2{
        margin-bottom: 1em;
    }
    #sponsors article{
        clear: both;
    }
    .sponsor{
        //width: 20%;
        min-height: 150px;
    }
    .sponsor img{
        padding: 1em 5%;
        width: 90%;
    }

</style>