<main class='horizontal-bars'>
    <div class='bar bar-full'>
        <div class='inner-bar'>
            <div>
                <h2>GALLERY</h2>
                <h3></h3>
            </div>
        </div>
        <div class='event-content'>
            <div class="gallery">
                <a href="images/image1.jpg" class="big"><img src="images/thumbs/thumb1.jpg" alt="" title="Beautiful Image" /></a>
                <a href="images/image2.jpg"><img src="images/thumbs/thumb2.jpg" alt="" title=""/></a>
                <a href="images/image3.jpg"><img src="images/thumbs/thumb3.jpg" alt="" title="Beautiful Image"/></a>
                <a href="images/image4.jpg"><img src="images/thumbs/thumb4.jpg" alt="" title=""/></a>
                <div class="clear"></div>

                <a href="images/image5.jpg"><img src="images/thumbs/thumb5.jpg" alt="" title=""/></a>
                <a href="images/image6.jpg"><img src="images/thumbs/thumb6.jpg" alt="" title=""/></a>
                <a href="images/image7.jpg" class="big"><img src="images/thumbs/thumb7.jpg" alt="" title=""/></a>
                <a href="images/image8.jpg"><img src="images/thumbs/thumb8.jpg" alt="" title=""/></a>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</main>
<div class="navigation">
    <div class="menu-icon" class="animate-1" ui-sref="explore"><div class="menu-bars"></div></div>
</div>

