<main class='horizontal-bars'>
    <div class='bar bar-full'>
        <div class='inner-bar'>
            <div>
                <h2>Support</h2>
                <h3>Help and Support</h3>
            </div>
        </div>
        <div class='event-content'>
            <div class="main-tabs">
                <ul class="nav nav-tabs" role="tablist" >
                    <li role="presentation" class="active"><a data-target="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Participation</a></li>
                    <li role="presentation"><a data-target="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">How to reach</a></li>
                    <li role="presentation"><a data-target="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Accommodation</a></li>
                    <li role="presentation"><a data-target="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Contact</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="tab1">
                        <div class="row">
                            <ul>
                                <li>Create a Renaissance'16 account. Login with your credentials.</li>
                                <li>Navigate to any of the event section and click on your desired event. On the event page, click "PARTICIPATE"</li>
                                <li>You can view all your registrations by logging into your account, navigating to events section and  clicking on registrations option in navigation menu </li>
                                <li>Apart from online registration, you can also register on-the-spot, although we recommend you to register online</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab2">
                        <div class="row">



                            <p>From Jaipur Central Railway Station / SindhiCamp Bus Stand :</p>
                            <p>UBER/Ola/TFS/Jugnoo and autos are easily available from the Jaipur Central Railway Station / SindhiCamp Bus Stand.<br/>
                                The estimated rates are Rs. 150-200.
                            </p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab3">
                        <div class="row">
                            <ul>
                            <li>All registered participants that come to JECRC will be provided accommodation on first come first serve basis on the campus.</li>
                            <li>Accommodation will be provided from 17th evening. You are required to report to the coordinator of the event you are participating in as soon as you arrive at the campus. You can also look out for directions in the campus to reach the hospitality desk.</li>
                            <li>All participants are required to carry their original college identity cards with photo proof to avail the accommodation and messing facilities in the campus and are required to follow the Rules and Regulations as mentioned on the respective page.</li>
                            <li>Kindly note that the accommodation is strictly on a shared basis and any requests for individual rooms or any complaints in this regard shall not be entertained.</li>
                            <li>Accommodation is free of cost for the day of participation. Accommodation of any extra day will cost an additional cost of 300/- which does not include food.</li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab4">
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-7">
                                <div id="contact-form-msg">
                                    In case of any query, feel free to drop a message.
                                </div>
                                <form class="contact-form" role="form" id="contact-form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Name" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="email" class="form-control" id="email" name="_replyto" placeholder="Email" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="email" class="form-control" id="number" name="number" placeholder="Contact number" required />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="input-group">
                                        <textarea name="message" class="form-control " rows="4" cols="78" placeholder="Enter your message here" required="true"></textarea>
                                    </div>
                                </div>
                                <div class="controls" style="margin-left: 5%;">
                                    <input type="submit" id="mybtn"  class="btn btn-primary shakeButton" value="Send Message" onclick="$(this).removeClass('tada').addClass('shake')"/>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="navigation">
    <div class="menu-icon" class="animate-1" ui-sref="explore"><div class="menu-bars"></div></div>
    <div class="clearfix"></div>
</div>

<style>
#contact-form-msg{
    padding: 1em;
}
</style>
