<div class="navigation">
    <div class="menu-icon" ng-click="menuClicked()" ng-class="currentCategory==0 ? 'animate-2' : 'animate-1'">
        <div class="menu-bars"></div>
    </div>
    <div class="login-btn" ng-show="!isLoggedIn" onclick="showLoginModal()">Log In</div>
    <div class="login-btn" ng-show="isLoggedIn" onclick="showAccountModal()">Registrations</div>
    <div class="clearfix"></div>
</div>
<div id="cd-nav" class="cd-nav">
    <div class="cd-navigation-wrapper">
        <div class="col-sm-6 col-xs-12">
            <nav>
                <ul>
                    <li><a ng-click="navOpen()" ui-sref="home">Home</a></li>
                    <li><a ng-click="navOpen()" ui-sref="events">Events</a></li>
                    <li><a ng-click="navOpen()" ui-sref="team">Team</a></li>
                    <li><a ng-click="navOpen()" ui-sref="gallery" >Gallery</a></li>
                    <li><a href="#0">Contact us</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-6 col-xs-12">
            <address>
                <div id="venue-map" style="height:225px;border:2px solid black;"></div>
            </address>
        </div>
        <footer>
            © Renaissance 2015 All Rights Reserved.
        </footer>
    </div>
</div>
