<main class='horizontal-bars' id="team-page">
    <div class='bar bar-full'>
        <div class='inner-bar'>
            <div>
                <h2>Team</h2>
                <h3>Team Renaissance</h3>
            </div>
        </div>
        <div class='event-content container'>
            <h3>Coming Soon!</h3>
        </div>
    </div>
</main>
<div class="navigation">
    <div class="menu-icon" class="animate-1" ui-sref="explore"><div class="menu-bars"></div></div>
    <div class="clearfix"></div>
</div>
