<div class="event-details" xmlns="http://www.w3.org/1999/html">
    <header>
        <h1>{{ details.name }}</h1>
        <div class="close-btn" ng-click="closeDetails()" >&#10005;</div>
    </header>
    <div ng-init="current=1" class="col-lg-offset-2 col-lg-8 col-md-10 col-md-offset-1 col-xs-offset-1 col-xs-10 vertical-tab-container">
        <div class="col-md-2 col-sm-3 col-xs-3 vertical-tab-menu">
            <div class="list-group">
                <a class="list-group-item text-center" ng-class="{active: current==1}" ng-click="current=1">
                    <img src="assets/img/site/about.png" alt="About">
                    <br/>About
                </a>
                <a class="list-group-item text-center" ng-class="{active: current==2}" ng-click="current=2">
                    <img src="assets/img/site/rules.png" alt="Rules">
                    <br/>Rules
                </a>
                <a class="list-group-item text-center" ng-class="{active: current==3}" ng-click="current=3">
                    <img src="assets/img/site/fees.png" alt="Fees">
                    <br/>Fees
                </a>
                <a class="list-group-item text-center" ng-class="{active: current==4}" ng-click="current=4">
                    <img src="assets/img/site/venue.png" alt="Venue">
                    <br/>Venue
                </a>
                <a class="list-group-item text-center" ng-class="{active: current==5}" ng-click="current=5">
                    <img src="assets/img/site/prize.png" alt="Prize">
                    <br/>Contact
                </a>
                <a class="list-group-item text-center" ng-class="{active: current==6}" ng-click="current=6">
                    <img src="assets/img/site/prize.png" alt="Prize">
                    <br/>Register
                </a>
            </div>
        </div>
        <div class="col-md-10 col-sm-9 col-xs-9 vertical-tab">
            <div class="vertical-tab-content" ng-class="{active: current==1}">
                <article ng-bind-html="details.about | renderHTMLCorrectly"></article>
            </div>
            <div class="vertical-tab-content" ng-class="{active: current==2}">
                <article ng-bind-html="details.rules | renderHTMLCorrectly"></article>
            </div>
            <div class="vertical-tab-content" ng-class="{active: current==3}">
                <article>
                    <p  ng-bind-html="details.fees | renderHTMLCorrectly"></p>
                    <p  ng-bind-html="details.prize | renderHTMLCorrectly"></p>
                </article>
            </div>
            <div class="vertical-tab-content" ng-class="{active: current==4}">
                <article ng-bind-html="details.venue | renderHTMLCorrectly"></article>
            </div>
            <div class="vertical-tab-content" ng-class="{active: current==5}">
                <article ng-bind-html="details.coordinators | renderHTMLCorrectly"></article>
            </div>
            <div class="vertical-tab-content" ng-class="{active: current==6}">
                <div ng-if="loggedIn">
                    <div ng-include="'assets/partials/partial-register.html'"></div>
                </div>
                <div ng-if="!loggedIn">
                    <div class='register-btn' onclick="showModal()">Login or Registers</div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .navigation{
        display: none;
    }
</style>
