<div class="main-page">
    <div class="main-page-inner">
        <header>
            <img class="jecrc-img" src="assets/img/site/jecrc.png" alt="JECRC">
            <img id="logo" src="assets/img/site/logo.png" alt="Renaissance 16">
            <img class="dates-img" src="assets/img/site/dates.png" alt="JECRC">
        </header>

        <div class="main-content">
            <img class="explore-button" ng-click="close();" src="assets/img/site/egu.png" alt="Explore The Genius In You">
        </div>

    </div>
    <div class="style-left">
        <img src="assets/img/site/speaker-left.png">
    </div>
    <div class="style-right">
        <img src="assets/img/site/speaker-right.png">
    </div>
</div>
